{% extends 'base.html.twig' %}

{% block title %}Epocalypse maps list.{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<h2>Epocalypse Maps list</h2>

<p>
    Map {{ map_id }} has been deleted.
</p>

{% endblock %}