{% extends 'base.html.twig' %}

{% block title %}Map!{% endblock %}

{% block body %}

<h1>Map</h1>
{% spaceless %}
    {% for lineIndex in 0..map.height-1 %}
        {% if loop.first %}
        	<div class="line">
        	{% for columnIndex in 0..map.width-1 %}
        		<span class="coordinate">{{ columnIndex }}</span>
        	{% endfor %}
        	</div>
        {% endif %}
    	<div class="line">
        {% for columnIndex in 0..map.width-1 %}
        	<span class="cell {{ map.getCell(lineIndex, columnIndex).type.name}}">
        	</span>
        	{% if loop.last %}
        		<span class="coordinate">{{ lineIndex }}</span>
    		{% endif %}
        {% endfor %}
    	</div> {# Closing line #}
    {% endfor %}
{% endspaceless %}
{% endblock %}